# pg docker
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# VARS FOR PIPELINE + API
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/postgres
HF_TOKEN=
HF_BUCKET_REPO_ID=

# VARS FOR API
PIPELINE_URL=http://pipeline:7860 # external

# VARS FOR PIPELINE
API_URL=http://api:8000 #external
MEDIA_URL=http://127.0.0.1:8000 

# VARS FOR APP
VITE_API_URL=http://127.0.0.1:8000