# pg docker
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# API + PIPELINE
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/postgres
PIPELINE_URL=http://127.0.0.1:8080
VITE_API_URL=http://127.0.0.1:8000